.custom-scrollbar {
    opacity: 0.3;
    transition: 1.0s;
}
.custom-scrollbar:hover {
    opacity: 0.9;
    cursor: grabbing;
    
}
.custom-scrollbar-track  {
    border-radius: 15px;
    /* background-color: darkgray; */
}

.custom-scrollbar-thumb {
    border-radius: 15px;
    background-color: grey;
    border-radius: 8px;
}
