.box {
    width: 500px;
    height: 650px;
    background-color: lightblue;
    border-radius: 15px;
    shape-rendering: crispEdges;
}

.smallBox {
    width:450px;
    height:50px;
    background-color: whitesmoke;
    border-radius: 5px;
    shape-rendering: crispEdges;
    text-align: center;
    font-family: 'Times New Roman', Courier, monospace;
    font-style: italic;
    position: absolute;
    margin: 0px 20px 5px;
    border: 2px dotted black;
}

.greyedBox {
    border: 6px solid grey; /* Light grey */
    border-top: 5px solid darkgray; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin: 0px 200px 5px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }